.blueBlock{
    width: 300px;
    height: 30px;
    background-color: rgb(24, 102, 248);
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
}

.blueBlock p {
    font-size: 14px;
    color: white;
    margin-top: 6px;
    margin-left: 5px;
}

.textBlock{
    width: 300px;
    background-color: rgb(83, 197, 250);
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
}

.textBlock p {
    font-size: 12px;
    margin-top: 5px;
    margin-left: 5px;
}